<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Beranda</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/settings">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card class="shop-card">
      <ion-card-header>
        <ion-card-title>
          Abi Laundry
        </ion-card-title>
        <ion-card-subtitle>
          Ceplik
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-text>
                <ion-icon slot="start" name="caret-down-outline"></ion-icon>
                Pendapatan Hari Ini
                <br />
                Rp {{ income }}
              </ion-text>
            </ion-col>
            <ion-col size="6">
              <ion-text>
                <ion-icon slot="start" name="caret-up-outline"></ion-icon>
                Pengeluaran Hari Ini
                <br />
                Rp {{ expense }}
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-grid>
      <ion-row>
        <ion-col col ="6">
            <ion-button style="height: 100px; background-color: #0AA5DB; color: white;" expand="block" fill="clear" routerLink="/create-order" class="vertical-button">
              <ion-icon style="margin-right: 3px;"name="add-circle-outline"></ion-icon>
              <span>
                Tambah Transaksi
              </span>
            </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button style="height: 100px; background-color: #0AA5DB; color: white;" expand="block" fill="clear" routerLink="/customers">
            <ion-icon style="margin-right: 3px;" slot="start" name="people-outline"></ion-icon>
            <span>
              Pelanggan
            </span>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button style="height: 100px; background-color: #0AA5DB; color: white;" expand="block" fill="clear" routerLink="/services">
            <ion-icon style="margin-right: 3px;" name="shirt-outline"></ion-icon>
            <span>
              Layanan
            </span>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button style="height: 100px; background-color: #0AA5DB; color: white;" expand="block" fill="clear" routerLink="/services">
            <ion-icon  style="margin-right: 3px;" name="bar-chart-outline"></ion-icon>
            <span>
              Laporan
            </span>
          </ion-button>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col size="4">
          <ion-button expand="block" fill="clear" routerLink="/expenses">
            <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
            Pengeluaran
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" fill="clear" routerLink="/scan-code">
            <ion-icon slot="start" name="qr-code-outline"></ion-icon>
            Scan Kode QR
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" fill="clear" routerLink="/payment-methods">
            <ion-icon slot="start" name="cash-outline"></ion-icon>
            Metode Pembayaran
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-button expand="block" fill="clear" routerLink="/cancel-order">
            <ion-icon slot="start" name="close-outline"></ion-icon>
            Pesanan Batal
          </ion-button>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </div>
</ion-content>

