<ion-content>
  <div id="header">
    <div id="app-bar">
      <ion-icon name="arrow-back" routerLink="/admin"></ion-icon>
    </div>
    <h1>Register</h1>
  </div>

  <div class="wrapper">
    <ion-card class="form-wrapper">
    <ion-card-content>
      <ion-item>
        <ion-icon name="person"></ion-icon>
        <ion-input type="text" [(ngModel)]="form.name" [ngModelOptions]="{standalone: true}" placeholder="Nama Lengkap"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="mail"></ion-icon>
        <ion-input type="text" [(ngModel)]="form.email" [ngModelOptions]="{standalone: true}" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed"></ion-icon>
        <ion-input type="password" [(ngModel)]="form.password" [ngModelOptions]="{standalone: true}" placeholder="Password"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="register()">Register</ion-button>
    </ion-card-content>
    </ion-card>

    <div class="line-text">
      <span class="lines"></span>
      <span class="text">Or login with</span>
    </div>

    <ion-card class="socials-wrapper">
      <ion-card-content>
        <div class="socials">
          <ion-button class="btn-go" fill="outline">
            <ion-icon style="margin-right: 10px" name="logo-google"></ion-icon>
            Google Account
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>