ion-content{
    --background: #e0dfe6;

    #header {
        height: 30%;
        background: #0AA5DB;
        border-radius: 0 0 20px 20px;
        display: flex;
        flex-direction: column;
        color: #ffffff;
        padding: 20px;

        #app-bar {
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            ion-icon {
                font-size: 24px;
                margin-left: -5px;
            }

        }

        h1 {
            display: flex;
            justify-content: center;
            font-size: 40px;
            font-weight: bold;
        }
    }

    .wrapper {
        margin-top: -10%;
        left: 4%;
        right: 4%;

        .form-wrapper {
            box-shadow: none;
            border-radius: 20px;
            padding: 15px 10px;

            ion-item {
                --background: #efefef;
                --padding-start: 10px;
                --hightlight-height: 0;
                --border-width: 0;
                --padding-top: 0;
                --min-height: 40px;
                margin-bottom: 15px;
                border-radius: 5px;

                ion-icon {
                    font-size: 18px;
                }

                ion-input {
                    margin-left: 10px;
                    font-size: 14px;
                }
            }

            ion-button {
                margin-top: 25px;
                height: 40px;
                --box-shadow: none;
                text-transform: initial;
                font-size: 16px;
                letter-spacing: 0;
                font-weight: 400;
            }
        }

        .line-text {
            padding: 0 30px;
            position: relative;
            height: 20px;
            margin-top: 30px;
            
            .lines {
                height: 1px;
                background: #858585;
                display: block;
            }

            .text {
                position: absolute;
                top: -7px;
                left: 50%;
                transform: translateX(-50%);
                background: #e0dfe6;
                padding: 0 16px;
                font-size: 12px;
                font-weight: 500;
                color: #5e5e5e;
            }
        }

        .socials-wrapper {
            box-shadow: none;
            border-radius: 20px;
        }
            .socials {
                display: flex;
                justify-content: center;
                padding: 5px;

                ion-button {
                    margin: 0 5px;
                    --padding-start: 12px;
                    --padding-end: 12px;

                    ion-icon {
                        font-size: 18px;
                    }
                }
                .btn-go {
                    --background: white;
                    width: 40vh;
                }

            }
    }
}