<ion-content>
  <div id="header">
    <div id="app-bar">
    </div>
    <div id="logo">
      <img src="../../../../assets/image/logo6.png" width="100px" height="100px" />
    </div>
    <h2>Jasa Laundry</h2>
  </div>

  <ion-card class="ion-padding">
    <ion-card-content>
      <h1>LaundryIn</h1>
      <p>Cepat, Bersih dan Harumnyoooo</p>

      <ion-button expand="block" routerLink="/admin" class="ion-margin-bottom"
        >Admin</ion-button
      >
      <ion-button expand="block" routerLink="/outlet" fill="outline"
        >Outlet</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
