<ion-header>
    <ion-toolbar>
      <ion-title>{{ karyawanId ? 'Edit Karyawan' : 'Tambah Karyawan' }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()">Tutup</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="karyawanForm" (ngSubmit)="submitKaryawan()">
      <ion-item>
        <ion-label position="floating">Nama</ion-label>
        <ion-input formControlName="nama"></ion-input>
      </ion-item>
      <ion-item *ngIf="!karyawanId">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit" [disabled]="karyawanForm.invalid">{{ karyawanId ? 'Update' : 'Tambah' }}</ion-button>
    </form>
  </ion-content>
  